<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>CORS</title>
    <style>
        input {
            width:100%;
            height: 40px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<label>简单请求</label><br/>
<input type="button" value="不支持跨域_get" name="noSupport"><br/>
<input type="button" value="支持跨域_get" name="canSupport"><br/>
<input type="button" value="支持跨域(携带cookie&通域)_get" name="canSupportCookies"><br/>
<input type="button" value="支持跨域(携带cookie&指定域)_get" name="canSupportCookiesSpecify"><br/>
<input type="button" value="支持跨域_post" name="post">
<br/><br/><br/>
<label>复杂请求（增加预检请求）</label><br/>
<input type="button" value="复杂请求_method" name="delete"><br/>
<input type="button" value="复杂请求_headers" name="complictGet"><br/>
</body>
<script src="/lib/lib.min.js"></script>
<script>
    //不支持跨域
    $('[name="noSupport"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/noSupport',
            type: 'GET',
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {
            }
        });
    })
    //支持跨域
    $('[name="canSupport"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/canSupport',
            type: 'GET',
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {
            }
        });
    })

    //支持携带cookie的跨域（通域）
    $('[name="canSupportCookies"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/canSupportCookies',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {
            }
        });
    })
    //支持携带cookie的跨域（指定域）
    $('[name="canSupportCookiesSpecify"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/canSupportCookiesSpecify',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {
            }
        });
    })
    $('[name="post"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/post',
            type: 'POST',
            data: {
                username: 'lixianzhao',
                password: '123456',
            },
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {

            }
        });
    })
    //复杂请求1(请求方法)
    $('[name="delete"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/delete',
            type: 'DELETE',
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {
            }
        });
    })
    //复杂请求2(增加请求头字段)
    $('[name="complictGet"]').on('click', function(e) {
        $.ajax({
            url: '//127.0.0.1:4000/user/complictGet',
            type: 'GET',
            headers : {'X-Requested-With':'lixianzhao'},
            success: function(data) {
                alert(JSON.stringify(data));
            },
            error: function(data) {
            }
        });
    })

</script>
</html>